/* documento selctor de tipo etiqueta */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: whitesmoke; 
    color: black 
}

/* encabezado */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #202020; 
}

header .logo {
    font-size: 24px;
    font-weight: bold;
    color: red;
    text-decoration: none;
}

header input[type="text"] {
    width: 40%;
    padding: 5px;
    border-radius: 4px;
    border: none;
}

/* navegación lateral */
nav {
    width: 200px;
    background-color: whitesmoke; 
    padding: 20px 10px;
    height: 100vh; 
    box-sizing: border-box; 
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    padding: 10px 0;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Cambio de fondo al pasar el ratón */
nav ul li:hover {
    background-color: whitesmoke;
    border-radius: 4px;
}

main {
    flex-grow: 1;
    padding: 20px;
    box-sizing: border-box;
}

/* Contenedor principal selector de tipo clase */
.container {
    display: flex;
}

/* Cuadrícula de videos */
.video-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); 
    gap: 20px;
}


.video {
    background-color: whitesmoke; 
    padding: 10px;
    border-radius: 4px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s; 
}


.video img {
    max-width: 100%; 
    border-radius: 4px; 
}


.video p {
    margin: 10px 0 0;
}

/* Efecto al pasar el ratón sobre los videos */
.video:hover {
    transform: scale(1.05); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Media query  */
@media (max-width: 768px) {

    nav {
        width: 100px;
    }

    header input[type="text"] {
        width: 60%;
    }

    .video-grid {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
}